@import "reset";
@import "fonts.css";
@import "modifiers";

$primary: rgba(100, 13, 20, 1);
$background: #F9F7F2;
$light-primary: rgba(128, 14, 19, 1);

$dark-main: rgba(37, 9, 2, 1);
$dark-accent: rgba(45, 8, 10, 1);

$light-grey-background: #FDFDFD;
$grey-border: #CFCFCF;
$standard-border-radius: 4px;
$dropMargin: 40px;
$dark-red: #A00;

body{
	background: $background;
}

.nav{
	display: flex;
	background: $background;
}

.nav__link{
	border-bottom: 1px solid $dark-accent;
	flex: 1;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: $primary;

	&:hover{
		background: darken($background, 5%);
	}
}

.nav__link--active{
	color: $light-primary;
	background: darken($background, 5%);
}

.nav__link+.nav__link{
	border-left: 1px solid $dark-accent;
}

.initiative-list {
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
}

.player-collection{
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
}

.player-collection--fixed{
	position: fixed;
	bottom: 0;
	left: 0;
}

.player-card {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 200px;
	max-width: 200px;
	margin: 10px;
	justify-content: center;
	border: 1px solid $grey-border;
	border-radius: $standard-border-radius;
	background: $light-grey-background;
	text-align: center;
	font-family: 'IM Fell English SC', serif;
	transition: margin .4s;
}

.drop-target{
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 0;
	max-width: 200px;
	min-height: 0;
	margin: 10px;
	justify-content: center;
	text-align: center;
	font-family: 'IM Fell English SC', serif;
	opacity: 0;
	transition: opacity,margin .4s;
}

.drop-target--active{
	border: 1px dashed $grey-border;
	border-radius: $standard-border-radius;
	background: $light-grey-background;
	min-height: 100px;
	min-width: 200px;
	opacity: 1;
}

.drop-target--drop-hover{
	margin-left: $dropMargin;
}

.player-card--small{
	height: 95px;
	flex-wrap: wrap;
	min-width: 160px;
	max-width:160px;
	padding: 0 10px 0 5px;

	.player-card__class-image{
		width: 10vh;
		max-width: 80px;
		order: 0;
		margin: 0;
	}

	.player-card__name{
		order: 1;
	}

	.player-card__class{
		order: 2;
	}
}

.player-card--addition{
	&:hover{
		background: darken($light-grey-background, 10%);
	}
	cursor: pointer;
}

.player-card--drop-hover{
	margin-left: $dropMargin;
}

.player-card__name{
	text-align: center;
	display: block;
	font-weight: bold;
	margin-top: 10%;
}

.player-card__class{
	margin-bottom: 10%;
}

.player-card__class-image{
	width: 90px;
	margin: 0 auto;
}
